.main-checkout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.checkout-header {
  width: 92%;
  margin: 0 auto;
  margin-top: 48px;
}

.checkout-form-section {
  width: 92%;
  margin: 0 auto;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 2rem;
}

.checkout-form-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
}

.checkout-form-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 0.5rem;
}

.checkout-form-box.address-container {
  margin-top: 1.5rem;
}
.checkout-form-box.checkbox-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkout-form-input {
  min-height: 48px;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 40%);
  padding-inline: 0.75rem;
}

.checkbox-area {
  width: 48px;
  aspect-ratio: 1/1;
}

.checkout-form-input.checkbox {
  width: 16px;
  aspect-ratio: 1/1;
}

.checkout-form-input:focus-visible {
  outline: 2px solid #212121;
}

.checkout-form-box.coupon-container {
  margin-top: 1.5rem;
}

/* nascondi campo */
.hidden {
  display: none;
}

.form-error-box {
  display: flex;
  align-items: center;
  background-color: var(--color-sec-bg);
  border-radius: 0.4rem;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}

.form-error-text {
  color: var(--color-sec-on-bg);
}

form .hidden {
  display: none;
}

/* riepilogo */

.riepilogo-products-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  background-color: var(--color-section-high);
  padding: 0.75rem;
  border-radius: 1.25rem;
}

.riepilogo-products-box.total-box {
  flex-direction: row;
  justify-content: space-between;
  padding-block: 2rem;
}

.riepilogo-products-box.free {
  background-color: var(--color-success-bg);
  padding-inline: 2rem;
}
.riepilogo-products-box.free .free-text {
  color: var(--color-success-on-bg);
  font-weight: 500;
}

.riepilogo-products-box.free.hidden {
  display: none;
}

.riepilogo-product-info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.riepilogo-product-info-box hr {
  width: 100%;
  border: 0.5px solid rgba(33, 33, 33, 8%);
}

.riepilogo-product-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-price {
  color: var(--color-accent-bg);
}

.checkout-form-section.riepilogo-section {
  width: 92%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .main-checkout {
    flex-direction: row;
    justify-content: center;
    row-gap: 3rem;
    column-gap: 0px;
  }

  .checkout-form-section.riepilogo-section {
    max-width: 46%;
    padding-inline: 2rem;
  }
  .checkout-form-section {
    max-width: 46%;
    padding-inline: 2rem;
  }
}

@media screen and (min-width: 1280px) {
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
.hidden {
  display: none;
}
