footer {
    width: 100%;
    margin-top: 1rem;
    min-height: 8vh;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    align-items: center;
    border-radius: 0.75rem;
    background-color: var(--color-section-high);
    border: 1px solid rgba(33, 33, 33, 8%);
}

.footer-section {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}


  