/* HERO -------------------------------------------------------------- */

.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

/* HERO SLIDER -------------------- */

/* hero slider */
.hero-slider {
  width: 100%;
  border-radius: 2rem;
  background-color: var(--color-section-high);
  overflow: hidden;
  height: 60vh;
  position: relative;
}

.slider-container {
  height: 100%;
  width: 100%;
}

.slide-container {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.hero-slide {
  flex: 0 0 100%;
  width: 100%;
}

.w-fit {
  align-self: flex-start;
}

/* hero slider content + info */
.hero-slider .content,
.hero-slider .content .info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
}

.hero-slider .content {
  gap: 0.75rem;
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
}

.hero-slider .content .info {
  gap: 0px;
}

.carousel-img {
  width: 400px;
  position: relative;
  top: -40px;
  right: -80px;
  /* top: -400px;
  right: -120px; */
  transform: rotate(20deg);
}

/* hero slider dots box */
.slider-dots-box {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* hero slider dot */
.slider-dots-box .dot {
  width: 0.75rem;
  aspect-ratio: 1/1;
  border-radius: 900px;
  background-color: rgba(33, 33, 33, 28%);
}

/* hero slider active dot */
.dot-active {
  background-color: var(--color-text);
}

/* HERO DISCOUNT SECTION */
.hero-discount-box,
.hero-discount-box .info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

.hero-discount-box {
  background-color: var(--color-section-high);
  border-radius: 2rem;
}

.hero-discount-box .info {
  gap: 0.75rem;
  padding: 1.5rem;
}

/* discount code */
.hero-discount-box .info .discount-code {
  display: inline-flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #212121;
  align-self: flex-start;
  border-radius: 1rem;
}
.hero-discount-box .info .discount-code .code {
  color: #ffffff;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
}

/* CAROUSEL --------------------------------------- */

.carousel-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.carousel-card-container {
  width: 100%;
}
