/* HERO -------------------------------------------------------------- */

.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  padding: 1rem;
}

/* HERO SLIDER -------------------- */

/* hero slider */
.hero-slider {
  width: 100%;
  border-radius: 2rem;
  background-color: var(--color-section-high);
  overflow: hidden;
  height: 60vh;
  position: relative;
}

.slider-container {
  height: 100%;
  width: 100%;
}

.slide-container {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.hero-slide {
  flex: 0 0 100%;
  width: 100%;
}

.w-fit {
  align-self: flex-start;
}

/* hero slider content + info */
.hero-slider .content,
.hero-slider .content .info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
}

.hero-slider .content {
  gap: 0.75rem;
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
}

.hero-slider .content .info {
  gap: 0px;
}

.carousel-img {
  width: 400px;
  position: relative;
  top: -40px;
  right: -80px;
  /* top: -400px;
  right: -120px; */
  transform: rotate(20deg);
}

/* hero slider dots box */
.slider-dots-box {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* hero slider dot */
.slider-dots-box .dot {
  width: 0.75rem;
  aspect-ratio: 1/1;
  border-radius: 900px;
  background-color: rgba(33, 33, 33, 28%);
}

/* hero slider active dot */
.dot-active {
  background-color: var(--color-text);
}

/* HERO DISCOUNT SECTION */
.hero-discount-box,
.hero-discount-box .info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

.hero-discount-box {
  background-color: var(--color-section-high);
  border-radius: 2rem;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.hero-discount-box .info {
  gap: 0.75rem;
  padding: 1.5rem;
}

/* discount code */
.hero-discount-box .info .discount-code {
  display: inline-flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #212121;
  align-self: flex-start;
  border-radius: 1rem;
}
.hero-discount-box .info .discount-code .code {
  color: #ffffff;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
}

.hero-coupon-img {
  width: 120%;
  position: relative;
  top: -40px;
  left: -20px;
}

/* CAROUSEL --------------------------------------- */

.carousel-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.carousel-slide-container {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
}

.carousel-card-container {
  display: flex;
  justify-content: center;
}

.carousel-card {
  max-width: 80%;
}

/* carousel actions box */

.carousel-actions-box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* carousel dots */

.carousel-dots-box {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.carousel-dots-box .dot {
  width: 0.75rem;
  aspect-ratio: 1/1;
  border-radius: 900px;
  background-color: rgba(33, 33, 33, 28%);
}

/* carousel arrows (mobile) */
.carousel-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #212121;
  border-radius: 0.5rem;
  color: #ffffff;
}

/* smartphone landscape / mini tablet ----------------------------- */
@media (min-width: 576px) {
  .hero-slider {
    height: 40vh;
  }
  .hero-slider .content {
    padding: 1.75rem;
  }
  .carousel-img {
    top: -120px;
    right: -160px;
    width: 520px;
  }
  .slider-dots-box {
    bottom: 28px;
    left: 28px;
  }
  .hero-discount-box {
    aspect-ratio: 16/9;
  }
  .hero-coupon-img {
    max-width: 80%;
    left: 200px;
    top: -100px;
  }
}

/* tablet portrait ---------------------------------------------- */
@media (min-width: 768px) {
  .carousel-img {
    top: -200px;
    right: -240px;
    width: 480px;
  }
  .hero-discount-box {
    aspect-ratio: 21/9;
  }
  .hero-coupon-img {
    top: -180px;
    left: 280px;
  }
}

/* tablet landscape / laptop -------------------------------------- */
@media (min-width: 992px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 48vh;
  }
  .hero-slider {
    height: 100%;
  }
  .hero-discount-box {
    height: 100%;
    min-width: 36%;
  }
  .hero-coupon-img {
    max-width: 100%;
    position: relative;
    top: -60px;
    left: 20px;
  }
}

/* desktop -------------------------------------------- */
@media (min-width: 1280px) {
  .carousel-img {
    top: -200px;
    right: -280px;
    width: 440px;
  }
  .carousel-slide {
    flex: 0 0 50%;
  }
}
