.notfound-section {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
  height: 52vh;
  justify-content: center;
  align-items: center;
}

.notfound-number {
  font-size: 5rem;
  color: var(--color-accent-bg);
}

.animation-404 {
  width: 100%;
}

.thanks-text {
  font-size: 3rem;
  color: var(--color-accent-bg);
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .animation-404 {
    max-width: 60%;
  }
}
