/* PRODUCT PAGE ------------------------------------------------------ */

/* .card-actions-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  align-items: stretch;
} */

/* product section (section che racchiude img + info product) */
.product-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 48px;
  justify-content: start;
}

/* product image (il figure) */
.product-image {
  width: 100%;
  aspect-ratio: 1/1;
}

/* product info box */
.product-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}

/* product details (category + name + description + price) */
.product-info .product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

/* product price */
.product-price {
  color: var(--color-accent-bg);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* product actions box */
.product-actions-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 0.75rem;
}

/* QUERY BREAKPOINTS ------------------------------------------------ */

/* smartphone landscape / mini tablet */
@media (min-width: 576px) {
  .product-image {
    width: 80%;
    margin: 0 auto;
    aspect-ratio: 1/1;
  }
}

/* tablet portrait */
@media (min-width: 768px) {
  .product-image {
    width: 60%;
  }
}

/* tablet landscape / laptop */
@media (min-width: 992px) {
}

/* desktop */
@media (min-width: 1280px) {
}
