/* PRODUCT PAGE ------------------------------------------------------ */

/* .card-actions-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  align-items: stretch;
} */

/* product section (section che racchiude img + info product) */
.product-section {
  width: 92%;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 48px;
  justify-content: start;
}

/* product image (il figure) */
.product-image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 2rem;
}

/* product info box */
.product-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}

/* product details (category + name + description + price) */
.product-info .product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

/* product price */
.product-price {
  color: var(--color-accent-bg);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* product actions box */
.product-actions-box,
.product-form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 0.75rem;
}

.product-actions-box {
  margin-top: 2rem;
}

.product-input {
  min-height: 48px;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 40%);
  padding-inline: 0.75rem;
}
.product-input:focus-visible {
  outline: 2px solid #212121;
}

.product-quantity-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;
  gap: 0.75rem;
}

.quantity-input-box {
  display: flex;
  gap: 0.5rem;
}

.alert-quantity {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--color-success-bg);
  padding-inline: 1rem;
  border-radius: 0.5rem;
}
.alert-quantity span {
  color: var(--color-success-on-bg);
}

/* size error */
.size-error-box {
  display: flex;
  align-items: center;
  background-color: var(--color-sec-bg);
  border-radius: 0.4rem;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}
.size-error-box.hidden {
  display: none;
}

.size-error-text {
  color: var(--color-sec-on-bg);
}

/* QUERY BREAKPOINTS ------------------------------------------------ */

/* smartphone landscape / mini tablet */
@media (min-width: 576px) {
  .product-image {
    width: 80%;
    margin: 0 auto;
  }

  .product-actions-box {
    flex-direction: row;
  }
}

/* tablet portrait */
@media (min-width: 768px) {
  .product-image {
    width: 60%;
  }
}

/* tablet landscape / laptop */
@media (min-width: 992px) {
  .product-section {
    gap: 0px;
    align-items: start;
  }

  .product-image {
    width: 32%;
  }
  .product-info {
    width: 68%;
    padding-inline: 2rem;
  }
}

/* desktop */
@media (min-width: 1280px) {
}
